# Disable execution of scripts
php_flag engine off
Options -Indexes -ExecCGI

<FilesMatch "\.(php|php3|php4|php5|phtml|pl|py|jsp|asp|sh|cgi)$">
    Order allow,deny
    Deny from all
</FilesMatch>
